{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "consistent-return": "off",
    "global-require": "off",
    "no-else-return": "off",
    "no-multi-assign": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-underscore-dangle": "off"
  }
}
